.user-group{
    .create-group-header{
        color: white;
        text-align: center;
    }
    .user-group-remove{
        left: 20px;
    }
    .user-group-user-detail{
        margin-top: 40px;
        display: inline-block;
        width: 341px;
    }
    .left45{
        left: 45%;
        position: relative;
    }
    .left40{
        left: 40%;
        position: relative;
    }
    .left50{
        left: 45%;
        position: relative;
    }
    .user-group-button-group{
        position: relative;
        top: 45px;
        margin-bottom: 250px;
    }
}